<footer class="footer">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../images/logo.png" alt="logotype">
        </a>
        <div class="footer__wrapper">
            <div class="item policy">
                <a href="javascript:void(0)">Политика конфиденциальности</a>
                <a href="javascript:void(0)">Договор оферты</a>
            </div>
            <div class="item phones">
                <div class="icon">
                    <a href="javascript:void(0)" class="callBack open-requestCall">
                        <i class="icon-icon22"></i>
                    </a>
                </div>
                <div class="info">
                    <div class="blk">
                        <a href="tel:88000005555"> 8 800 000-55-55</a>
                        <p>Бесплатно по России</p>
                    </div>
                    <div class="blk">
                        <a href="tel:89515222222"> 8 951 522-22-22</a>
                        <p>По тарифу вашего оператора</p>
                    </div>
                </div>
            </div>
            <div class="item button">
                <a href="javascript:void(0)" class="btn open-requestCall">связаться с нами</a>
            </div>
            <div class="item social">
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="social">
                            <i class="icon-icon11"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="social">
                            <i class="icon-icon12"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="social">
                            <i class="icon-icon8"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="social">
                            <img src="../images/telegram.png" alt="icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>